@import "tailwindcss";

@theme{
    --color-primary: #6B9B6E;
    --color-light: #F4F1F2;
    --color-dark: #0E0C0D;
    --color-accent: #514349;
    --color-muted: #B1A69F;
    --color-primary: oklch(64.277% 0.08423 146.03);
    --color-primary-50: oklch(90.95% 0.02058 145.4);
    --color-primary-100: oklch(88.03% 0.02832 146.99);
    --color-primary-200: oklch(82.107% 0.03996 147.54);
    --color-primary-300: oklch(76.311% 0.05474 146.69);
    --color-primary-400: oklch(70.167% 0.06886 146.74);
    --color-primary-500: oklch(64.277% 0.08423 146.03);
    --color-primary-600: oklch(54.262% 0.07255 146.32);
    --color-primary-700: oklch(43.284% 0.05597 146.22);
    --color-primary-800: oklch(31.945% 0.03795 145.99);
    --color-primary-900: oklch(19.065% 0.01604 148.87);
    --color-primary-950: oklch(11.72% 0.00858 145);
    --color-light: oklch(96.074% 0.00347 354.69);
    --color-light-50: oklch(100% 0 none);
    --color-light-100: oklch(100% 0 none);
    --color-light-200: oklch(100% 0 none);
    --color-light-300: oklch(100% 0 none);
    --color-light-400: oklch(100% 0 none);
    --color-light-500: oklch(96.074% 0.00347 354.69);
    --color-light-600: oklch(87.184% 0.01069 354.94);
    --color-light-700: oklch(77.967% 0.02107 354.16);
    --color-light-800: oklch(68.59% 0.02906 357.57);
    --color-light-900: oklch(58.763% 0.04012 356.48);
    --color-light-950: oklch(54.119% 0.03859 355.11);
    --color-dark: oklch(15.728% 0.00397 345.79);
    --color-dark-50: oklch(51.064% 0.02374 346.32);
    --color-dark-100: oklch(47.421% 0.02308 344.62);
    --color-dark-200: oklch(40.103% 0.01892 346.33);
    --color-dark-300: oklch(32.714% 0.01325 346.17);
    --color-dark-400: oklch(24.576% 0.00846 351.58);
    --color-dark-500: oklch(15.728% 0.00397 345.79);
    --color-dark-600: oklch(0% 0 none);
    --color-dark-700: oklch(0% 0 none);
    --color-dark-800: oklch(0% 0 none);
    --color-dark-900: oklch(0% 0 none);
    --color-dark-950: oklch(0% 0 none);
    
    --color-accent: oklch(39.948% 0.02137 350.43);
    --color-accent-50: oklch(71.316% 0.02279 347.54);
    --color-accent-100: oklch(67.922% 0.0252 350.43);
    --color-accent-200: oklch(61.083% 0.03165 350.04);
    --color-accent-300: oklch(54.146% 0.03087 351.65);
    --color-accent-400: oklch(47.019% 0.02659 349.61);
    --color-accent-500: oklch(39.948% 0.02137 350.43);
    --color-accent-600: oklch(29.496% 0.01283 353.29);
    --color-accent-700: oklch(17.888% 0.00771 346.23);
    --color-accent-800: oklch(0% 0 none);
    --color-accent-900: oklch(0% 0 none);
    --color-accent-950: oklch(0% 0 none);
    --color-muted: oklch(73.243% 0.01625 54.845);
    --color-muted-50: oklch(100% 0 none);
    --color-muted-100: oklch(98.288% 0.00107 17.176);
    --color-muted-200: oklch(92.368% 0.00424 56.371);
    --color-muted-300: oklch(86.125% 0.00864 56.295);
    --color-muted-400: oklch(79.719% 0.01147 54.456);
    --color-muted-500: oklch(73.243% 0.01625 54.845);
    --color-muted-600: oklch(64.083% 0.0225 53.077);
    --color-muted-700: oklch(54.514% 0.02242 54.868);
    --color-muted-800: oklch(44.72% 0.01844 54.589);
    --color-muted-900: oklch(34.241% 0.01311 57.828);
    --color-muted-950: oklch(28.495% 0.01031 61.061);

    --font-heading: 'Poppins', sans-serif;
    --font-body: 'Sintony', sans-serif;
}